/* Syllabe Line Graph */

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: rgb(177, 94, 111);
  stroke-width: 3px;
}

.inactive {
    fill: #ff8042;
    stroke: #ee611d;
}
