/* CSS for Word Blocks Vis */

#wordBlock {
  padding: 1em 1.2em;
}

.word-block-1 {
  fill: rgb(120, 190, 78);
}

/* Tooltip */
.word-tooltip {
  stroke: none;
  position: absolute;
  visibility: hidden;
  z-index: 20;
}
